@charset "utf-8";

@import "./to_reset.css";
@import "./Countries.scss";
@import "./Dice.scss";
@import "./player.scss";

.inner {
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

.loadingAni {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin: 0;
    padding: 10px 0;
}
