.up_player {
    .A_player {
        width: 230px;
        height: 60px;
        display: inline-block;
        background-color: burlywood;

        p {
            margin: 0;
            padding-left: 20px;

            &:first-child {
                padding-top: 3px;
                margin-bottom: 6px;
                border-bottom: 1px solid black;
            }
        }    
    }
    .B_player {
        width: 230px;
        height: 60px;
        background-color: red;
        float: right;

        p {
            margin: 0;
            padding-left: 20px;

            &:first-child {
                padding-top: 3px;
                margin-bottom: 6px;
                border-bottom: 1px solid black;
            }
        }
    }
    .C_player {
        background-color: #a2d3ff;
    }
    .D_player {
        background-color: yellow;
    }
}