.up_player {
    .A_player {
        width: 230px;
        height: 60px;
        display: inline-block;
        background-color: #ff6277;

        p {
            margin: 0;
            padding-left: 20px;

            &:first-child {
                padding-top: 3px;
                margin-bottom: 6px;
                border-bottom: 1px solid black;
            }
        }    
    }
    .B_player {
        width: 230px;
        height: 60px;
        background-color: #ff6277;
        float: right;

        p {
            margin: 0;
            padding-left: 20px;

            &:first-child {
                padding-top: 3px;
                margin-bottom: 6px;
                border-bottom: 1px solid black;
            }
        }
    }
}